body {
  margin: 0;
  padding: 0;
}

.site-container {
  margin: 0;
  padding: 0;
}

.header {
  max-height: 10vw;
  padding: 1vw 0vw 1vw 0vw;
  background-color: #f7f7f7;
}

.header h1 {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 3em;
  font-family: "Gill Sans";
}

.blog-container {
  margin: auto;
  width: 70%;
}

.blog-container a {
  text-decoration: none;
}
.blog-container a:visited {
  /* color: black; */
  text-decoration: none;
}

.blog-container a:hover {
  color: black;
  text-decoration: none;
}

.blog-container h2 {
  text-align: center;
  font-size: 2em;
  margin: 2vw 0px 2vw 0px;
  font-family: "Gill Sans";
}

.blog-container img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
}

.blog-image-container {
  width: 80%;
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.container {
  margin: 1vw 8vw 0px 8vw;
  /* max-height: 500vw; */
}

.bkg-div {
  background-color: #f5f2f2;
  height: 15vw;
  max-height: 15vw;
}

.contact-page {
  text-align: center;
}

.contact-page h3 {
  text-align: center;
  font-family: "Gill Sans";
  font-size: 3em;
  margin-bottom: 0;
}

.contact-page p {
  text-align: center;
  font-family: "Gill Sans";
  font-size: 1em;
}

.contact-page-icons {
  margin: auto;
  justify-content: center;
}

.contact-page-icons img {
  margin: 0px 0.5vw 0px 0.5vw;
}

.contact-page-icons a {
  text-decoration: none;
}

.intro {
  padding-top: 1vw;
  margin-bottom: 1vw;
}
.intro h4 {
  color: black;
  text-align: left;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT";
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}
.intro p {
  font-family: "Gill Sans";
  font-style: italic;
  color: #363636;
  margin-top: 0;
  margin-bottom: 1vw;
}
.intro h4:hover {
  color: #636363;
}
.intro p:hover {
  color: #595959;
}

.col-3 {
  flex: 1; /* defines size of flex 1*/
  padding: 1vw;
}

.col-6 {
  flex: 2;
  padding: 1vw;
}

.thumbnail {
  margin: auto; /* horizontal center */
  /* height: 80%;
  width: 80%; */
  max-width: 100%; /* ensures image doesn't exceed */
}

.thumbnail img {
  width: 100%;
  /* margin: 0px 20% 0px 20%; */
}

.featured-item {
  margin: auto;
}
.featured-item a {
  color: black;
  text-decoration: none;
}

.flex-grid {
  display: flex;
}
